body{
    background-color: #181627;
    color: #9a9bf7;
    text-align: center;
    
}
input{
    text-align: center;
    background-color: #250404;
    color: #7c7ef1;
    height: 30px;
    width: 300px;
}
#array{
    text-align: center;
    background-color: #0f0101;
    color: #9a9bf7;
    height: 400px;
    width: 300px;
}